<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="Viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="Description" content="Homepage of Richard Wossal. Weeks of hacking can save you hours of planning.">
    <title>{{ page.title }} | r-wos.org</title>
    <style>
    {% include reset.css %}
    {% include main.css %}
    {% include blink.css %}
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/feed.xml">RSS</a>
      <a href="/hacks">Hacks</a>
      <a href="/about">About</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
