---
layout: default
---
<p>{{ page.date | split: ' ' | first }}

{{ content }}

<hr>

<h2>See Also</h2>

{% if page.previous %}
<p>Previously: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
{% endif %}
{% if page.next %}
<p>Next up: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
{% endif %}

<!-- TODO: filter the current page out -->
{% assign related_sorted = site.related_posts %}
<p>
  The machine thinks that the Web-Log entries
  <a href="{{ related_sorted[0].url }}">{{ related_sorted[0].title }}</a>,
  <a href="{{ related_sorted[1].url }}">{{ related_sorted[1].title }}</a>, and
  <a href="{{ related_sorted[2].url }}">{{ related_sorted[2].title }}</a>
  might be related to the topic so eloquently discussed above. The machine is
  sometimes right.
</p>
