<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="Viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <title>{{ page.title }} | r-wos.org</title>
    <style>
    * { line-height: 140%; }
    {% include blink.css %}
    </style>
  </head>
  <body style="margin:15px auto; max-width:40em">
    <nav>
      <a href="/">Home</a> -
      <a href="/blog">Blog</a> -
      <a href="/feed.xml">RSS</a> -
      <a href="/hacks">Hacks</a> -
      <a href="/about">About</a>
    </nav>
    <main>
      <h1>Weeks of hacking can save you<br>hours of planning</h1>
      {{ content }}
    </main>
  </body>
</html>
