body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
    padding: 0.5em;
    margin: 0em;
    color: #33dd33;
    background-color: #000f00;
}
#content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    color: #66ff66;
    line-height: 1em;
    text-align: center;
    font-family: Georgia,serif;
    font-weight: normal;
}
a {
    color: #ccff66;
    text-decoration: none;
}
a:hover {
    color:#000f00 ! important;
    background-color:#ffff00;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px 4px #ffff00;
}
a:visited {
    color: #aaaa00;
}
.navigation {
    font-size: 10pt;
}
.header {
    text-align: center;
}
h1 {
    font-size: 16pt;
    border-top: 1pt solid #66aa66;
    padding-top:0.25em;
    margin-top: 1em;
    display: inline-block;
}
dt {
    padding-top: 1em;
    font-size: 90%;
}
dt:first-letter {
    font-size: 110%;
}
dd {
    padding-left: 0.5em;
}
dd .descr {
    margin: 0pt;
    margin-left: 3em;
    margin-bottom: 0.5em;
    padding 0pt;
}
.block {
    margin: 1em;
    padding: 4em;
    padding-top: 2em;
    padding-bottom: 3em;
    border: 1pt solid #339933;
    box-shadow: inset 0em 0em 2em #339933;
    border-radius: 2em;
}
.sig {
    margin-left: 75%;
    font-size: 75%;
}

